<div class="overlay">
    <div class="newUserFormContainer p-5 text-center">
        <h1>New Users</h1>
        <form>
            <div>
                <label for="name">Name</label>
            </div>
            <div class="mb-4">
                <input type="text" name="name">
            </div>

            <div>
                <label for="email">Mail</label>
            </div>
            <div class="mb-4">
                <input type="email" name="email">
            </div>
            
            <div>
                <label for="address">Address</label>
            </div>
            <div class="mb-4">
                <input type="text" name="address">
            </div>
            
            <div>
                <!-- MOMENTANEAMENTE RICHIAMANO LE FUNZIONI PER L'ALLERT -->
                <button type="button" class="btn btn-danger mr-2 btn-lg" (click)="alert('CANCEL')">Cancel</button>
                <button type="button" class="btn btn-primary ml-2 btn-lg" (click)="alert('SAVE')">Save</button>
            </div>
        </form>
    </div>
</div>