.newUserFormContainer {
    position: absolute;
    width: 300px;
    height: 450px;
    top: calc(50% - 225px);
    left: calc(50% - 150px);
    background: white;
    z-index: 11;
}

button {
    width: 92px;
}
