<div class="overlay" (click)="exitOrderPage()">
    <div class="container ordersContainer p-3">
        <h1>Orders</h1>
        <div class="row m-3">
            <div class="col-4">Product</div>
            <div class="col-4">Date</div>
            <div class="col-2">Quantity</div>
            <div class="col-2">Totale</div>
        </div>


        <ng-container *ngIf="orders.length > 0; else noOrders">
            <div class="row shadow m-3" *ngFor="let order of orders">
                <div class="col-4">{{order.product.name}}</div>
                <div class="col-4">{{order.date | date:'dd/MMMM/yyyy'}}</div>
                <div class="col-2">{{order.quantity}}</div>
                <div class="col-2">{{order.quantity * order.product.price}}</div>
            </div>
        
        
        <div class="row m-3">
            <div class="col-4"></div>
            <div class="col-4"></div>
            <div class="col-2"></div>
            <div class="col-2">{{totalPrice}}</div>
        </div>
    </ng-container>
    <ng-template #noOrders>
        <p class="text-center text-danger">Non ci sono ordini per l'utente selezionato</p>
    </ng-template>

    </div>
</div>

