<div class="border shadow">
    <div>
        <img src="{{ user.imageUrl }}" alt="FOTO GATTO">
    </div>
    <hr>
    <div class="p-2">
        <div>
            <span>{{ user.name }} {{ user.surname }}</span>
        </div>
        <div>
            <span>{{ user.mail }}</span>
        </div>
        <div>
            <span>{{ user.location.address }}, {{ user.location.city }}</span>
        </div>
        <div>
            <span>Ordini: {{ contOrders }}</span>
        </div>
        <div>
            <span>
                <a href="#">View orders</a>
            </span>
        </div>
    </div>
    <div class="my-3">
        <button class="mx-2 btn btn-primary">Edit</button>
        <button class="mx-2 btn btn-danger">Delete</button>
    </div>
</div>
