<div class="border shadow">
    <div>
        <img src="#" alt="FOTO GATTO">
    </div>
    <hr>
    <div class="p-2">
        <div>
            Mario Rossi
        </div>
        <div>
            mario.rossi.gmail.com
        </div>
        <div>
            ordini: 3
        </div>
        <div>
            <a href="#">View orders</a>
        </div>
    </div>
    <div class="my-3">
        <button class="mx-2 btn btn-primary">Edit</button>
        <button class="mx-2 btn btn-danger">Delete</button>
    </div>
</div>
